<!DOCTYPE html>
<html>
    <head>
        <link href="../css/style.css" rel="stylesheet">
        <script src="myscripts.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css"> 
       
    </head>
    <body>
    <div class="profileform" id="profile">
        <span onclick="myWindow = window.open('option.html')" class="close">&times;</span>
    <form class="profilecontent">
        <div><h1>User Profile</h1></div>
        <div class= "profilecard">
            <img src="../images/sue.png" alt="Profile pic" class="image">
            <h1 id ="username" class="profile1">Nakatudde Suzan</h1>
            <p class="profile1" id="email"> nakatuddesusan@gmail.com </p>
        </div>
    </form>
    </div>
    </body>
</html>