
body{background-color:white;
    background: url("../images/car.jpg");
    height: 100%;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        }
        *{box-sizing: border-box}
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 26px;
        }
        h2{
            color:rgb(12, 12, 12);
            font-family: lobster;
        }
        
        input[type=password] {
            background: #f1f1f1;
            padding: 15px;
            width: 30%;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            }
        
        select ,input[type=text] {
            background: #f1f1f1;
            padding: 15px;
            width: 30%;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            }
        .left {
                float: left;
                text-align: left;
            }
        .right {
                float: right;
                text-align:left;
            
            }
        link{
            color:dodgerblue;
        
        
        }
        .div_login{
            text-align: center;
            widows: 100%;
            padding:00px;
            height:300px;
        
        }
        
        h1{
            text-align: center;
            color: blue;
            font-family: sans-serif;
        }
        .button {
            background-color:rgb(33, 105, 33);
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            opacity:0.8 ;
        }
        .button:hover {
            opacity:1;
        }
        .btn-group button {
            border: 1px black; 
            color: white; 
            padding: 10px 24px;
            cursor: pointer; 
            float: left;
            width:50%;
            opacity: 0.8;
        }
        .btn-group button:hover {
            opacity: 1;
        }
        
        .cancelbtn {
            background-color: #f44336;
            width:50%;
            }
        .signupbtn{
            background-color: green;
            float:right;
            
        }
        .btn-group button:not(:last-child) {
            border-right: none;
        }
        .btn-group:after {
            content: "";
            clear: both;
            display: table;
            }
        @media screen and (max-width: 300px) {
            .cancelbtn, .signupbtn {
               width: 100%;
                }
            }
        
        .hiddenform {
            text-align: center;
            display: none;
            background-color:rgb(69, 65, 73);
            position: fixed; 
            z-index: 1; 
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%; 
            overflow: auto; 
            padding-top: 50px;
        }
        
        .formcontent{
            background-color: white;
            margin: 5% auto 15% auto; 
            border: 1px solid #888;
            width: 80%;
            height:1100px; 
        }
        
        .driverform{
            background-color: white;
            margin: 5% auto 15% auto; 
            border: 1px solid #888;
            width: 50%;
            height:820px; 
        }
        .driverbtn{
            background-color: green;
            border: 1px black; 
            color: white; 
            padding: 10px 24px;
            cursor: pointer; 
            float: left;
            width:100%;
            opacity:0.8;    
        }
        
        .close {
            position: absolute;
            right: 50px;
            font-size: 50px;
            top: 15px;
            font-weight: bold;
            color: red;
            opacity: 0.8;
        }
        
        .close:hover{
            opacity: 1.0;
        }
        
        
        .driverbtn:hover{
            opacity: 1.0;
        }
        
        .container {
            padding: 16px;
        }
        
        .optiondiv{
            text-align:center;
        }
        
        .profilecard {
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          max-width: 90%;
          margin: auto;
          text-align: center;
          font-family: arial;
          height:440px;
            
          }
        .image{
            width: 100%;
            height:80%;
              
        }
        .h1{
            color:white;
        }
        .profilediv{
            text-align:left;
        }
        
        .profileform {
            text-align: center;
            display: block;
            background-color:rgb(69, 65, 73);
            position: fixed; 
            z-index: 1; 
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%; 
            overflow: auto; 
            padding-top: 50px;
        }
        
        .profilecontent{
            background-color: white;
            margin: 5% auto 15% auto; 
            border: 1px solid #888;
            width: 30%;
            height:650px; 
            text-align: left;
        }
        
        
        .profile1 {
            color: grey;
            font-size: 19px;
          }
        .contactbutton{
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
          }
        
        .picturebox{
            background-color: lightgrey;
            width: 100px;
            border: solid black;
            padding: 00 px;
            margin: 25px;
            float : left;
        }
        
        .hiddenform1 {
            text-align: center;
            display: none;
            background-color:white;
            position: fixed; 
            z-index: 1; 
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%; 
            overflow: auto; 
            padding-top: 50px;
        }
        
        .picturetext{
        text-align: left;
        }
        
        .acceptbtn {
            background-color:rgb(33, 105, 33);
            border: none;
            color: white;
            padding: 5px 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            opacity:0.8 ;
        }
        .acceptbtn:hover {
            opacity:1;
        }
        .link{
             background-color: rgb(141, 189, 140);
             width: 15%;
        }
        .link1{
            background-color:pink;
            width:15%;
            margin-left:40%;
        }
        .link2{
            background-color:white;
            width:15%;
            margin-left: 80%;
        }
        